<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakley8sam.thriftez">

    <application
        android:name=".RealmInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recordActivity"
            android:label="Record an Expense"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.MainActivity" />
        </activity>
        <activity
            android:name=".editActivity"
            android:label="View/Edit Budget"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.editActivity" />
        </activity>
        <activity
            android:name=".chooseEditActivity"
            android:label="Choose an Edit"
            android:parentActivityName=".editActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.chooseEditActivity" />
        </activity>
        <activity
            android:name=".deleteCategoryActivity"
            android:label="Delete a Category"
            android:parentActivityName=".chooseEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.deleteCategoryActivity" />
        </activity>
        <activity
            android:name=".addCategoryActivity"
            android:label="Add a new Category"
            android:parentActivityName=".chooseEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.addCategoryActivity" />
        </activity>
        <activity
            android:name=".editCategoryActivity"
            android:label="Edit an existing Category"
            android:parentActivityName=".chooseEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.editCategoryActivity" />
        </activity>
        <activity
            android:name=".expensesActivity"
            android:label="@string/title_activity_expenses"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakley8sam.thriftez.MainActivity" />
        </activity>
    </application>

</manifest>